[Unit]
Description=hostapd-wpe service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=bash /root/run-wpe.sh
ExecStop=kill $(pidof hostapd-wpe)
WorkingDirectory=/root

[Install]
WantedBy=multi-user.target
